#about {
    width: 100%;
    height: 100vh;
    background-image: url('../img/about/PC/about-PC-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#about-phone {
    width: 100%;
    height: 100vh;
    background-image: url('../img/about/phone/about-phone-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.a_bg_set {    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/about/PC/about-present-PC.png');

}

.a_bg_set-phone {    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/about/phone/about-present-phone.png');

}

.box_push {
    /* background-color: rgba(255, 255, 255, 30%); */
    width: 730px;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    shape-outside:polygon(0 0, 100% 0, 64% 100%, 0 100%);
    float: left;
    margin-right: 9px;
}

.box_push-phone {
    /* background-color: rgba(231, 7, 7, 0.5); */
    width: 100%;
    height: 390px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* shape-outside:polygon(0 0, 100% 0, 64% 100%, 0 100%); */
    float: left;
    margin-right: 9px;
}

.a_text {
    font-size: 20px;
    color: black;
}

.a_text-phone {
    font-size: 20px;
    color: black;
}

.a_text h3 {
    margin: 100px 0 0 660px;
    font-weight: 900;
    padding: 170px 0 0 0;
    font-size: 24px;
}

.a_text p {
    margin: 0px 0 0px 0;
    padding: 20px 30px;
    line-height: 40px;
    font-size: 18px;
    text-align: justify;
}

.a_text-phone h3 {
    margin: 100px 0 0 390px;
    font-weight: 900;
    padding: 100px 0 0 0;
    font-size: 24px;
}

.a_text-phone p {
    margin: 0px 0 0px 0;
    padding: 20px 120px 20px 180px;
    line-height: 40px;
    font-size: 18px;
    text-align: justify;
}

.area {
    width: 100%;
    height: 100%;
}

.area-phone {
    width: 100%;
    height: 100%;
}

.title_bg{
    width: 570px;
    height: 50px;
    background-color: rgba(181, 181, 181, 0.8);
    position: relative;
    top: 50px;
    font-size: 2rem;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 600;
    line-height:50px;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.title_bg .title_l{
    height: 3px;
    background-color: black;
    position: relative;
    top: 25px;
}
.title_bg .title_r {
    height: 3px;
}
.title_bg .title_r p{
    margin-right: 15px;
}

@media (max-width: 991px){
    #about {
        display: none;
    }
    #about-phone {
        display: block;
    }
    
    

}

@media (max-width: 767px){
    #about {
        display: none;
    }
    #about-phone {
        display: block;
    }
    
    .box_push-phone {
        height: 400px;
    }

    .a_text-phone h3 {
        margin: 100px 0 0 380px;
    }

    .a_text-phone p {
        padding: 20px 20px 0px 60px;

    }
}