#food {
    width: 100%;
    height: 100vh;
    background-image: url('../img/food/PC/food-PC-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}
#food .card_style_t{
    width: 1050px;
    height: 519px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: none;
    }
    
#food .card_style_b{
    width: 1050px;
    height: 519px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: none;
    }

.card-btns{
    width: 80px;
    height: 430px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
    }

#card-btn-t{
    left: -50px;    
}

#card-btn-b{
    right: 30px;    
}

.card-area-t{
    top: 7%;
    left: 10%;
}

.card-area-b{
    bottom: 7%;
    right: 10%;
}

.card-area-style{
    width: 1130px;
    height: 519px;
    position: absolute;
    display: flex;
    align-items:center;
    }

.fdmusk-t{
    background-color: rgba(00, 00, 00, 0.7);
    position: absolute;
    top: 94px;
    left: 217px;
    width: 995px;
    height: 464px;
    z-index: 2;
}

.fdmusk-b{
    background-color: rgba(00, 00, 00, 0.7);
    position: absolute;
    bottom: 94px;
    right: 297px;
    width: 995px;
    height: 464px;
    z-index: 2;
}

#t_card_1{
    background-image: url('../img/food/PC/food-wine-champagne-2.png');
}

#t_card_2{
    background-image: url('../img/food/PC/food-wine-brandy.png');
}

#t_card_3{
    background-image: url('../img/food/PC/food-wine-red.png');
}

#b_card_1{
    background-image: url('../img/food/PC/food-meat-au.png');
}

#b_card_2{
    background-image: url('../img/food/PC/food-meat-jp.png');
}

#b_card_3{
    background-image: url('../img/food/PC/food-meat-us_1.png');
}

#food .card_style_t.active{
    display: block;
}
#food .card_style_b.active{
    display: block;
}

#food .card-area-style.active{
    z-index: 3;
}


.btn_area{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fct_btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

.fcb_btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

#food .card-btns .btn_area .fct_btn.active{
    background-color: rgb(160, 160, 160);
    width: 20px;
    height: 20px;
}

#food .card-btns .fcb_btn.active{
    background-color: rgb(160, 160, 160);
    width: 20px;
    height: 20px;
}